/* styles.css */
body {
    font-family: "Roboto", monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color:#007acc;
    border-radius: 10px;
    border: 1px solid white;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #005fa3;
}


header {
    text-align: center;
    background-color: #007acc;
    color: white;
    padding: 1em 0;
}

main {
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 1em;
}

#weeks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1em;
}

.week-tile {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color, scale 0.2s;
}

.week-tile:hover {
    background-color: #005fa3;
    scale: .9;
}

input, select, textarea, button {
    padding: 0.8em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select{
    width: 100%
}

input, textarea{
    width: 97%;
}

button {
    width: 100%;
    background-color: #007acc;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
}

button:hover {
    background-color: #005fa3;
    scale: .95;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    transition: all 0.2s;
    overflow-x: hidden;
}

th, td {
    padding: 0.8em;
    text-align: center;
    border: 1px solid #ccc;
}
th {
    background-color: #f9f9f9;
}

.OK{
    background-color: rgb(13, 194, 13);
    color: white;
    font-weight: bold;
}

.Problem{
    background-color: rgb(196, 196, 15);
    color: white;
    font-weight: bold;
}

.Repair{
    background-color: rgba(255,0,0);
    color: white;
    font-weight: bold;
}

.remove_item{
    color: white;
    font-weight: bold !important;
    background-color: red;
}

.remove_item:hover{
    background-color: red;
}